<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
</head>

<body>
    <h1>Меню</h1>

    <!-- Clients Section -->
    <h2>Клиенты</h2>
    <button><a href="{% url 'client-list-create' %}">Список и создание клиентов</a></button>
    <br>
    <label for="client-detail-pk">Детали клиента (введите pk):</label>
    <input type="text" id="client-detail-pk" required>
    <button onclick="goToClientDetail()">Перейти</button>

    <!-- Notifications Section -->
    <h2>Уведомления</h2>
    <button><a href="{% url 'notification-list-create' %}">Список и создание уведомлений</a></button>
    <br>
    <label for="notification-detail-pk">Детали уведомления (введите pk):</label>
    <input type="text" id="notification-detail-pk" required>
    <button onclick="goToNotificationDetail()">Перейти</button>

    <!-- Messages Section -->
    <h2>Сообщения</h2>
    <button><a href="{% url 'message-list-create' %}">Список и создание сообщений</a></button>
    <br>
    <label for="message-detail-pk">Детали сообщения (введите pk):</label>
    <input type="text" id="message-detail-pk" required>
    <button onclick="goToMessageDetail()">Перейти</button>
    <br><br>
    <button><a href="{% url 'message-statistics' %}">Статистика сообщений</a></button>
    <br>
    <label for="message-statistics-pk">Статистика сообщения (введите pk):</label>
    <input type="text" id="message-statistics-pk" required>
    <button onclick="goToMessageStatistics()">Перейти</button>

    <script>
        function goToClientDetail() {
            var pk = document.getElementById("client-detail-pk").value;
            window.location.href = "{% url 'client-detail' pk=0 %}".replace('0', pk);
        }

        function goToNotificationDetail() {
            var pk = document.getElementById("notification-detail-pk").value;
            window.location.href = "{% url 'notification-detail' pk=0 %}".replace('0', pk);
        }

        function goToMessageDetail() {
            var pk = document.getElementById("message-detail-pk").value;
            window.location.href = "{% url 'message-detail' pk=0 %}".replace('0', pk);
        }

        function goToMessageStatistics() {
            var pk = document.getElementById("message-statistics-pk").value;
            window.location.href = "{% url 'message-statistics' pk=0 %}".replace('0', pk);
        }
    </script>
</body>

</html>
